<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280166758323-m798gtlgu4i4436pp0d01s5vfstpge3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280166758323-m798gtlgu4i4436pp0d01s5vfstpge3d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>280166758323-u5e5j15itq3p7mpibaffh8qc0d5sa4av.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFK1w-xyVICqh0RiiICTKb601mYbQQwbs</string>
	<key>GCM_SENDER_ID</key>
	<string>280166758323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mana.mob.manamobi</string>
	<key>PROJECT_ID</key>
	<string>rastreamento-ac921</string>
	<key>STORAGE_BUCKET</key>
	<string>rastreamento-ac921.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280166758323:ios:1b418c3f827b66ff88bdc6</string>
	<key>DATABASE_URL</key>
	<string>https://rastreamento-ac921.firebaseio.com</string>
</dict>
</plist>